/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2024 rohanvarma811
 */
 




/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

@import url('./variables.css');
 




/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
 
@import url('./reset.css');



/*-----------------------------------*\
  #BASE
\*-----------------------------------*/
 
@import url('./base.css');



/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

@import url('./typography.css');




/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/



.page {
  height: 100vh;
  height: 100dvh;
  padding-inline: var(--space-4);
  padding-block-start: var(--top-bar-height);
  padding-block-end: calc(var(--bottom-nav-height) + var(--player-sm-height) + var(--space-4));
  overflow-x: hidden;
  overflow-y: auto;
}


.page:has( .player-sm.hide) {
  padding-block-end: calc(var(--bottom-nav-height) + var(--space-4));
}


.custom-scrollbar::-webkit-scrollbar { width: 8px; }

.custom-scrollbar::-webkit-scrollbar-thumb { 
  background-color: transparent;
  border-radius: 4px; 
}


.custom-scrollbar:hover::-webkit-scrollbar-thumb { 
  background-color: var(--surface-container-highest);
}


.material-symbols-rounded {
  color: inherit;
  height: 1em;
  width: 1em;
  display: block;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  user-select: none;
  overflow: hidden;
}


.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  user-select: none;
  -webkit-user-select: none;
}

.ripple,
.state-layer {
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  opacity: 0;
  transition: opacity var(--tr-duration-short-2) var(--tr-easing-linear);
  z-index: -2;
}

:has(> .state-layer):hover > .state-layer { opacity: 0.08; }

:has(> .state-layer):is(:focus, :focus-visible, :focus-within, :active) > .state-layer {
  opacity: 0.12;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}




/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

/**
  * Icon Button
  */

  .icon-btn {
    width: 40px;
    min-width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-full);
    color: var(--on-surface-variant);
    --state-layer-bg: var(--on-surface-variant);
}


.icon-btn[disabled] {
  opacity: 0.38;
  pointer-events: none;
}


.icon-btn.filled {
  background-color: var(--primary);
  color: var(--on-primary);
  --state-layer-bg: var( --on-primary);
}


.icon-btn.filled-tonal {
  background-color: var(--surface-container-highest);
}


/**
  * Search bar
  */

