<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head', { title: 'Home | Musify' }) %>
</head>
<body>
    <!-- Your content goes here -->

    <article class="page custom-scrollbar" data-page>
        
        <!-- 
            - #TOP APP BAR
        -->
        <%- include('../partials/top_bar',  locals.currentProfile ) %>

        <!-- 
            - #BOTTOM NAV
        -->
        <%- include('../partials/bottom_nav', { currentRoute: '/' }) %>
        

        <div class="main" data-main>
            <!-- 
                - #RECOMMENDED ALBUM
            -->
            <% if (locals.recommendedAlbums.length) { %>
                <section class="section recommended-albums">
                    <div class="title-wrapper">
                        <h2 class="section-title">Recommended Albums</h2>
                    </div>

                    <div class="slider" data-slider>
                        <div class="slider-inner">
                            
                            <% locals.recommendedAlbums.forEach(({ album: { artists, images, name: title, id, uri } }) => { %>

                                <% 
                                    const text = artists.map(({ name }) => name).join(', ');
                                    const image = images.find(item => item.width == 300);
                                %>

                                <%- include('../partials/card' , {
                                    image,
                                    type: 'ablum',
                                    title,
                                    text,
                                    link: `/album/${id}`,
                                    uri

                                })%>
                            
                            <% }) %>
                        </div>
                    </div>
                    
                </section>
            <% } %>
        </div>
    </article>

</body>
</html>