<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
        - meta tags
    -->
    <title>Login | Musify</title>
    <meta name="title" content="Login | Musify">
    <meta name="description" content="Musify is a way to Listen to millions of Songs without having to download them.">

    <!--
        - favicon
    -->
    <link rel="shortcut icon" href="./public/images/favicon1.svg" type="image/x-icon/svg">

    <!--
        - Google font link
    -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;900&display=swap" rel="stylesheet"> -->

    <!--
        - Google font link
    -->
    <!-- <link rel="stylesheet" href="./public/css/login.css"> -->

</head>
<body>
    <h1>Login page</h1>
</body>
</html>